
*{
    scroll-behavior: smooth;
}
#carousel{
    margin: 25px auto;
}
#welcome{
    max-width: 100%;
    margin: 0;
    padding: 1rem 10rem;
}
.bodypart li{
    font-size: large;
    font-weight: bold;
    padding: 1rem;
}
.bodypart2{
    margin: 5px auto;
}
.toolbar-item span{
    font-size: 1rem;
}
.toolbar-item>span{
    display: none;
}
